<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="icon" data-th-href="@{/images/logoENI.png}">
</head>
<body>
<header th:replace="~{/fragments/fragment-entete :: frag-entete}">
</header>

<main class="center-main">
    <h1 class="center-section">Voici la bibliothèque des films de ENI Ecole</h1>
</main>


</body>
</html>