<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/tp-form.css}">
    <link rel="icon" th:href="@{/images/logoENI.png}">
</head>
<body>
<!-- Navbar -->
<header th:replace="~{/fragments/fragment-entete :: frag-entete}">
</header>
<main>

    <!--Message succes à l'utilisateur-->
    <div th:if="${success}" style="color: green; background: #d4edda; padding: 10px; margin: 10px 0;">
        <span th:text="${success}"></span>
    </div>

    <form action="/films/login" method="post">
        <h1>Login</h1>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <ul class="flex-outer">
            <li>
                <label>Utilisateur : <input type="text" name="username"/> </label>
            </li>
            <li>
                <label>Mot de Passe : <input type="password" name="password"/> </label>
            </li>
        </ul>
        <button type="submit">Valider</button>
    </form>
</main>
</body>
</html>